<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%=pageName%></title>
    <meta name="viewport" content="minimal-ui,width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="stylesheet" href="<%=baseUrl%>/resource/css/<%=pageName%>.css">
</head>
<body>
    <%-content%>
</body>
</html>